$dracula-bg: #282a36;
$dracula-current-line: #44475a;
$dracula-selection: #44475a;
$dracula-foreground: #f8f8f2;
$dracula-comment: #6272a4;
$dracula-purple: #bd93f9;
$dracula-orange: #ffb86c;
$dracula-yellow: #f1fa8c;
$dracula-red: #ff5555;

